.container {
    display: flex;
}

.list {
    padding-left: 10px;
    width: 50%;
    background-color: green;
}

.info {
    padding-left: 10px;
    width: 50%;
    background-color: orange;
}

.list_company {
    cursor: pointer;
}

.company {
    border: 2px solid lightcoral;
    border-radius: 5px;
    margin: 5px;
    padding-left: 5px;
    max-width: 170px;
    min-width: 170px;
}